:root {
	--bg-color: #fff6d2;
	--text-color: #191319;
    --green-gray: #F9FFF6;
	--light-g: #D5ED74;
    --light-p: #C3B0F6;
    --dark-p: #9B8BC7;
	--light-pur-pink: #E5B4D2;

	--step--1: clamp(0.9375rem, 0.9136rem + 0.1064vw, 1rem);
	--step-0: clamp(1.125rem, 1.0771rem + 0.2128vw, 1.25rem);
	--step-1: clamp(1.35rem, 1.2686rem + 0.3617vw, 1.5625rem);
	--step-2: clamp(1.62rem, 1.4924rem + 0.567vw, 1.9531rem);
	--step-3: clamp(1.944rem, 1.7535rem + 0.8466vw, 2.4414rem);
	--step-4: clamp(2.3328rem, 2.0575rem + 1.2238vw, 3.0518rem);

	--space-xs: clamp(0.875rem, 0.8511rem + 0.1064vw, 0.9375rem);
	--space-s: clamp(1.125rem, 1.0771rem + 0.2128vw, 1.25rem);
 	--space-m: clamp(1.6875rem, 1.6157rem + 0.3191vw, 1.875rem);
	--space-l: clamp(2.25rem, 2.1543rem + 0.4255vw, 2.5rem);
	--space-xl: clamp(3.375rem, 3.2314rem + 0.6383vw, 3.75rem);
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

@font-face {
	font-family: gamja;
  src: url(../fonts/GamjaFlower-Regular.ttf);
}

@font-face {
  font-family: karla-r;
  src: url(../fonts/Karla-Regular.ttf);
}

@font-face {
  font-family: karla-sb;
  src: url(../fonts/Karla-SemiBold.ttf);
}

body {
	background-color: var(--bg-color);
}

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;

/* fonte og str. for tekst */

		h1, h2{
			font-family: gamja;
		}

		p, a{
			font-family: karla-r;
			font-size: var(--step-0);
		}

		h3{
			font-family: karla-sb;
			font-size: var(--step-1);
		}

		h2{
			font-size: var(--step-3);
			margin-bottom: var(--space-s);
		}

		h1{
			font-size: var(--step-4);
		}

		h1,h2,p,a{
			color: var(--text-color);
			overflow-wrap: break-word;
			hyphens: auto;
		}

		a{
			cursor: pointer;
		}

		p{
			margin-bottom: var(--space-s);
		}
  }





.ul-desk {
        margin-right: auto; 
        margin-left: 88%;
        background-color: var(--light-pur-pink);
        position: fixed;
        padding: 20px;
        z-index: 1000;
        border-radius: 15px;
        border: 1.5px solid var(--text-color);
        top: 20px; 
        display: flex;
        flex-direction: column; 
    }

    .li-desk {
        margin-top: 10px;
    }

    .ul-desk li a {
        text-decoration: none;
        color: var(--text-color);
        padding: 5px 10px;
    }

    .ul-desk li a.active-link {
        background-color: var(--light-g);
        border-radius: 5px;
    }

.off-screen-menu {
    display: none;
}

.container, #wave{
    margin: auto 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/* om mig */

.grid_1-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
	gap: 40px;
}

#om-mig-img{
	background-color: var(--bg-color);
	padding-top: 30px;
	border-radius: 15px;
	max-width: 90%;
	height: auto;
	display: block;
	border: 1.9px solid var(--text-color);
}

/* --------- SLIDESHOW CONTAINER --------- */
.slideshow-container {
    position: relative;
    margin: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: var(--green-gray);
    margin-bottom: 50px;
    border-radius: 15px;
    max-width: 1200px;
    min-height: 400px;
    width: 90%;
	padding: var(--space-m);
}

/* --------- SLIDES --------- */
.slide {
	display: none; 
	grid-column: 2; 
}


.on {
	display: flex; 
	justify-content: center; 
	align-items: center; 
}

/* --------- LAYOUT FOR TEKST & BILLEDE --------- */

.slide-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
}


/* Billede styling */
.slide img{
	width: 100%;
	border: 2px solid var(--text-color);
	border-radius: 15px;
}

.slideshow-img {
	max-height: 600px;
	width: 100%;
	object-fit: contain;
	margin-right: 30px;
	
}

/* --------- CTA KNAP --------- */
.cta {
	display: inline-block;
	margin-top: 10px; 
	padding: 10px 20px; 
	background-color: var(--light-pur-pink); 
	color: var(--text-color); 
	border-radius: 45px; 
}

.cta:hover, .next:hover, .prev:hover{
	background-color: var(--light-g);
	transition: 0.2s;
}

/* --------- NAVIGATIONSPILE --------- */
.prev,
.next {
    background-color: var(--light-pur-pink);
    color: var(--text-color);
    font-size: clamp(16px, 3vw, 24px);
    padding: clamp(8px, 1.5vw, 16px);
    border: none;
    cursor: pointer;
    border-radius: 15px;
    z-index: 10;
}

.prev {
    grid-column: 1;
}

.next {
    grid-column: 3;
}

/* --------- INDIKATORPRIKKER --------- */

.slideshow-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 20px;
    grid-column: 1 / -1;
	padding: var(--space-s) 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}


.dot.on {
    background-color: var(--light-pur-pink);
}


/* kontakt */

.footer-style{
    margin-top: var(--space-m);
	margin-bottom: var(--space-l);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex a, .flex p {
    display: flex; 
    align-items: center;
    margin: 5px 0;
}

.icon-img {
    height: 40px;
    max-width: 40px;
    margin-right: 5px;
}


/* mobil */
@media (max-width: 800px) {
	
	.container, #wave{
    margin: 10px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
	}


 .ul-desk {
		margin-left: 88%;
        background-color: var(--light-pur-pink);
        position: fixed;
        z-index: 7;
        border-radius: 15px;
        top: 20px;
        right: 20px;
		padding: 25px;
        display: flex;
        align-items: center;
    }

    .li-desk {
        display: none;
    }

    .ham-menu {
        z-index: 10;
        height: 50px;
        width: 50px;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

	.ham-menu span {
		height: 4px;
		width: 100%;
		background-color: var(--text-color);
		border-radius: 25px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: 0.3s ease;
		z-index: 10;
	}
	.ham-menu span:nth-child(1) {
		top: 25%;
	}
	.ham-menu span:nth-child(3) {
		top: 75%;
	}
	.ham-menu.active span {
		background-color: var(--text-color);
	}
	.ham-menu.active span:nth-child(1) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.ham-menu.active span:nth-child(2) {
		opacity: 0;
	}
	.ham-menu.active span:nth-child(3) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	.off-screen-menu {
		z-index: 9;
		background-color: var(--light-pur-pink);
		height: 100vh;
		width: 100%;
		max-width: 250px;
		position: fixed;
		top: 0;
		right: -450px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 3rem;
		transition: 0.3s ease;
		justify-content: flex-start;
		padding-top: 100px;
		
	}
	.off-screen-menu.active {
		right: 0;
		
	}

	.off-screen-menu ul{
		margin-bottom: 100px;
	}

	

/* om mig - mobil */

.grid_1-1{
    display: grid;
    grid-template-columns: 1fr;
	gap: 40px;
}

#om-mig-img{
	max-width: 90%;
	height: auto;
	display: block;
	border: 1.9px solid var(--text-color);
	background-color: var(--bg-color);
	border-radius: 15px;
	padding-top: 20px;
	order: -1;
	
}


/* projekter */
.slideshow-container {
		min-height: 100px;
		height: auto;
	}

	.slide-content {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px; 
		padding: 10px;
	}

	.slide img{
	width: 100%;
	border: 2px solid var(--text-color);
	border-radius: 15px;
}

.slideshow-img {
	max-height: 600px;
	width: 100%;
	object-fit: contain;
	margin-right: 30px;
	
}
	.prev,
	.next {
		display: none; 
	}

	.cta {
		display: inline-block; 
		margin-bottom: 10px; 
		padding: 10px 20px; 
		margin-right: 20px;
		font-size: 24px;
	}
}

