* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

:root {
	--bg-color: #fff6d2;
	--text-color: #191319;
    --green-gray: #F9FFF6;
	--light-g: #D5ED74;
    --light-p: #C3B0F6;
    --dark-p: #9B8BC7;
	--light-pur-pink: #E5B4D2;
}

@font-face {
	font-family: gamja;
  src: url(../fonts/GamjaFlower-Regular.ttf);
}

@font-face {
  font-family: karla-r;
  src: url(../fonts/Karla-Regular.ttf);
}

@font-face {
  font-family: karla-sb;
  src: url(../fonts/Karla-SemiBold.ttf);
}

/* fonte og str. for tekst */

h1, h2{
	font-family: gamja;
}

p, a {
	font-family: karla-r;
}

h1{
	font-size: 13vh;
}

h2{
	font-size: 10vh;
}

a, p{
	font-size: 4.5vh;
}

h1,h2,p,a{
	color: var(--text-color);
	overflow-wrap: break-word;
	hyphens: auto;
}

a{
	cursor: pointer;
}

body {
	background-color: var(--bg-color);
}

/* computer/ desktop */
@media (min-width: 800px) {
.container, #wave{
    margin: auto 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.off-screen-menu {
    display: none;
}

/* om mig */

.grid_1-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#om-mig-img{
	max-width: 90%;
	height: auto;
	display: block;
}

}

/* mobil */
@media (max-width: 800px) {
	
	h1{
		font-size: 40px;
	}

	h2{
		font-size: 36px;
	}

	a, p{
		font-size: 20px;
	}


	.container, #wave{
    margin: 10px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
	}

	.li-desk {
		display: none;
	}

	.ul-desk{
   	margin-left: 86%;
    background-color: var(--light-pur-pink);
    position: fixed;
    z-index: 2;
	height: 9px;
  	width: 19px;
	border-radius: 15px;
} 

	/* off-screen-menu */
	.off-screen-menu {
		z-index: 9;
		background-color: var(--light-pur-pink);
		height: 100vh;
		width: 100%;
		max-width: 250px;
		position: fixed;
		top: 0;
		right: -450px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 3rem;
		transition: 0.3s ease;
		justify-content: flex-start;
		padding-top: 100px;
		
	}
	.off-screen-menu.active {
		right: 0;
		
	}

	/* ham menu */
	.ham-menu {
		z-index: 10;
		height: 50px;
		width: 40px;
		margin-left: 88%;
		position: fixed;
	
	}
	.ham-menu span {
		height: 5px;
		width: 100%;
		background-color: var(--text-color);
		border-radius: 25px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: 0.3s ease;
		z-index: 10;
	}
	.ham-menu span:nth-child(1) {
		top: 25%;
	}
	.ham-menu span:nth-child(3) {
		top: 75%;
	}
	.ham-menu.active span {
		background-color: var(--text-color);
	}
	.ham-menu.active span:nth-child(1) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.ham-menu.active span:nth-child(2) {
		opacity: 0;
	}
	.ham-menu.active span:nth-child(3) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}

/* om mig - mobil */

#om-mig-img{
	max-width: 90%;
	height: auto;
	display: block;
}


}