* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

:root {
	--bg-color: #fff6d2;
	--text-color: #191319;
    --green-gray: #F9FFF6;
	--light-g: #D5ED74;
    --light-p: #C3B0F6;
    --dark-p: #9B8BC7;
	--light-pur-pink: #E5B4D2;
}

@font-face {
	font-family: gamja;
  src: url(../fonts/GamjaFlower-Regular.ttf);
}

@font-face {
  font-family: karla-r;
  src: url(../fonts/Karla-Regular.ttf);
}

@font-face {
  font-family: karla-sb;
  src: url(../fonts/Karla-SemiBold.ttf);
}

h1, h2{
	font-family: gamja;
}

h1{
	font-size: 64px;
}

h2{
	font-size: 48px;
}



body {
	background-color: var(--bg-color);
}
