* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

:root {
	--bg-color: #fff6d2;
	--text-color: #191319;
    --green-gray: #F9FFF6;
	--light-g: #D5ED74;
    --light-p: #C3B0F6;
    --dark-p: #9B8BC7;
	--light-pur-pink: #E5B4D2;
}

@font-face {
	font-family: gamja;
  src: url(../fonts/GamjaFlower-Regular.ttf);
}

@font-face {
  font-family: karla-r;
  src: url(../fonts/Karla-Regular.ttf);
}

@font-face {
  font-family: karla-sb;
  src: url(../fonts/Karla-SemiBold.ttf);
}

h1, h2{
	font-family: gamja;
}

h1{
	font-size: 64px;
}

h2{
	font-size: 48px;
}

p, a {
	font-family: karla-r;
}

a{
	font-size: 20px;
}

.off-screen-menu {
    display: none;
}



.container, #wave{
    max-width: 1280px;
    padding: 40px 180px;
}

@media (max-width: 800px) {

	.container, #wave{
		max-width: 100px;
    	padding: 10px 80px;
	}

	a {
		color: #fff6d2;
	}

	.li-desk {
		display: none;
	}

	.ul-desk{
   	margin-left: 86%;
    background-color: var(--light-pur-pink);
    position: fixed;
    padding: 20px;
    z-index: 2;
} 

	/* off-screen-menu */
	.off-screen-menu {
		z-index: 9;
		background-color: var(--light-pur-pink);
		height: 100vh;
		width: 100%;
		max-width: 450px;
		position: fixed;
		top: 0;
		right: -450px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 3rem;
		transition: 0.3s ease;
		justify-content: flex-start;
		padding-top: 100px;
	}
	.off-screen-menu.active {
		right: 0;
	}

	/* ham menu */
	.ham-menu {
		z-index: 10;
		height: 50px;
		width: 40px;
		margin-left: 86%;
		position: fixed;
	}
	.ham-menu span {
		height: 5px;
		width: 100%;
		background-color: var(--text-color);
		border-radius: 25px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: 0.3s ease;
	}
	.ham-menu span:nth-child(1) {
		top: 25%;
	}
	.ham-menu span:nth-child(3) {
		top: 75%;
	}
	.ham-menu.active span {
		background-color: var(--background-color);
	}
	.ham-menu.active span:nth-child(1) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.ham-menu.active span:nth-child(2) {
		opacity: 0;
	}
	.ham-menu.active span:nth-child(3) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}



}