

/* header */

.ul-desk{
    margin-left: 86%;
    background-color: var(--light-pur-pink);
    position: fixed;
    padding: 20px;
    z-index: 2;
    border-radius: 15px;
} 

.li-desk{
    margin-top: 20px;
}

.ul-desk li a.active-link {
    background-color: var(--light-g);
    padding: 5px 10px;
    border-radius: 5px;
}

/* om mig */

.green-bg{
    background-color: var(--light-g);
    padding-top: 50px;
    padding-bottom: 50px; 
}

.stretch{
    width: 100vw;
    display: block;
    height: 100px;
}

#flip{
    rotate: -180deg;
}

/* mine evner */



/* projekter */

#projekter{
    background-color: var(--light-p);
}


/* kontakt */

