

ul{
    margin-top: 200px;
    margin-left: 86%;
    background-color: var(--light-pur-pink);
    position: fixed;
    padding: 20px;
}

li{
    margin-top: 20px;
}

.container{
    max-width: 1280px;
    padding: 40px 180px;
}

.om-m {
	background-image: url(/img/Rectangle\ 57.svg);
	height: 1000px; /* You must set a specified height */
  	background-position: center; /* Center the image */
 	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover;
	
}