

h2{
	margin-bottom: 20px;
}

/* header */



/* om mig */

.green-bg{
    background-color: var(--light-g);
    padding-top: 50px;
    padding-bottom: 50px; 
}

.stretch{
    width: 100vw;
    display: block;
    height: 100px;
}

#flip{
    rotate: -180deg;
}

/* mine evner */

.icon-img-2 {
    height: 70px;
    max-width: 70px;
}

/* projekter */

#projekter{
    background-color: var(--light-p);
}



/* --------- SLIDES --------- */
.slide {
	display: none; 
	grid-column: 2; 
}


.on {
	display: flex; 
	justify-content: center; 
	align-items: center; 
}

/* --------- LAYOUT FOR TEKST & BILLEDE --------- */


.slide-content h3,
.slide-content p {
	color: rgb(0, 0, 0);
}

/* --------- CTA KNAP --------- */
.cta {
	display: inline-block;
	margin-top: 10px; 
	padding: 10px 20px; 
	background-color: var(--light-pur-pink); 
	color: var(--text-color); 
	font-size: 24px;
	border-radius: 45px; 
}

/* --------- NAVIGATIONSPILE --------- */
.prev,
.next {
	background-color: var(--light-pur-pink);
	color: var(--text-color); 
	font-size: 20px; 
	padding: 10px; 
	border: none; 
	cursor: pointer; 
    border-radius: 15px;
}

/* --------- INDIKATORPRIKKER --------- */
.slideshow-indicators {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	padding-bottom: 10px;
    justify-content: space-evenly;
}

.dot {
	height: 12px;
	width: 12px;
	margin: 0 5px;
	background-color: gray;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
}

@media (max-width: 800px){
	.slideshow-indicators div{
		background-color: aquamarine;
		
}

}

.dot.on {
	background-color: var(--light-pur-pink)
}

/* slideshow slut */



/* kontakt */

.footer-style{
    margin-top: 30px;
	margin-bottom: 60px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex a, .flex p {
    display: flex; 
    align-items: center;
    margin: 5px 0;
}

.icon-img {
    height: 40px;
    max-width: 40px;
    margin-right: 5px;
}