

h2{
	margin-bottom: 20px;
}

/* header */


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1.5s ease-in forwards; 
    opacity: 0; 
}


/* om mig */

.green-bg{
    background-color: var(--light-g);
    padding-top: 50px;
    padding-bottom: 50px; 
}

.stretch{
    width: 100vw;
    display: block;
    height: 100px;
}

#flip{
    rotate: -180deg;
}

/* mine evner */

.icon-img-2 {
    height: 70px;
    max-width: 70px;
}

/* projekter */

#projekter{
    background-color: var(--light-p);
}

/* slideshow slut */



/* kontakt */

.footer-style{
    margin-top: 30px;
	margin-bottom: 60px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex a, .flex p {
    display: flex; 
    align-items: center;
    margin: 5px 0;
}

.icon-img {
    height: 40px;
    max-width: 40px;
    margin-right: 5px;
}