

h2{
	margin-bottom: 20px;
}

/* header */

.ul-desk{
    margin-left: 88%;
    background-color: var(--light-pur-pink);
    position: fixed;
    padding: 20px;
    z-index: 2;
    border-radius: 15px;
	border: 1.5px solid var(--text-color);
} 

.li-desk{
    margin-top: 20px;
}

.ul-desk li a.active-link {
    background-color: var(--light-g);
    padding: 5px 10px;
    border-radius: 5px;
}

/* om mig */

.green-bg{
    background-color: var(--light-g);
    padding-top: 50px;
    padding-bottom: 50px; 
}

.stretch{
    width: 100vw;
    display: block;
    height: 100px;
}

#flip{
    rotate: -180deg;
}

/* mine evner */

.icon-img-2 {
    height: 70px;
    max-width: 70px;
}

/* projekter */

#projekter{
    background-color: var(--light-p);
}


/* --------- SLIDESHOW CONTAINER --------- */
.slideshow-container {
	position: relative; 
	margin: auto; 
	overflow: hidden; 
	display: grid;
	grid-template-columns: auto 1fr auto; 
	align-items: center;
	background-color: var(--green-gray);
    margin-bottom: 50px;
    border-radius: 15px;
}

#m-nudler {
	color: white;
	grid-column: 2/3;
	text-align: center;
	font-size: 24px;
}

/* --------- SLIDES --------- */
.slide {
	display: none; 
	grid-column: 2; 
}


.active {
	display: flex; 
	justify-content: center; 
	align-items: center; 
}

/* --------- LAYOUT FOR TEKST & BILLEDE --------- */
.slide-content {
	display: flex;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr; 
	align-items: center; 
	gap: 10px; 
}

.slide-content h3,
.slide-content p {
	color: rgb(0, 0, 0);
}

/* Billede styling */
.slide img {
	width: 100%;
	border: 2px solid var(--text-color);
	border-radius: 15px;
}

.slideshow-img {
	max-height: 700px;
	width: 100%;
	object-fit: contain;
	
}

/* --------- CTA KNAP --------- */
.cta {
	display: inline-block;
	margin-top: 10px; 
	padding: 10px 20px; 
	background-color: var(--light-pur-pink); 
	color: var(--text-color);  
	border-radius: 45px; 
}

/* --------- NAVIGATIONSPILE --------- */
.prev,
.next {
	background-color: var(--light-pur-pink);
	color: var(--text-color); 
	font-size: 20px; 
	padding: 10px; 
	border: none; 
	cursor: pointer; 
    border-radius: 15px;
}

/* --------- INDIKATORPRIKKER --------- */
.slideshow-indicators {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	padding-bottom: 10px;
    justify-content: space-evenly;
}

.dot {
	height: 12px;
	width: 12px;
	margin: 0 5px;
	background-color: gray;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
}

.dot.active {
	background-color: var(--light-g);
}

/* slideshow slut */



/* kontakt */

.footer-style{
    margin-top: 30px;
	margin-bottom: 60px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex a, .flex p {
    display: flex; 
    align-items: center;
    margin: 5px 0;
}

.icon-img {
    height: 40px;
    max-width: 40px;
    margin-right: 5px;
}