
ul{
    margin-top: 200px;
    margin-left: 86%;
    background-color: var(--light-pur-pink);
    position: fixed;
    padding: 20px;
    z-index: 2;
}

li{
    margin-top: 20px;
}

.container{
    max-width: 1280px;
    padding: 40px 180px;
}

.green-bg{
    background-color: var(--light-g);
    padding-top: 50px;
    padding-bottom: 50px;

    
}

.stretch{
    width: 100vw;
    display: block;
    height: 100px;
}

#flip{
    rotate: -180deg;
}


    div {
    max-width: 1280px;
    padding: 40px 180px;
     }
